#try {
  background-color: white;
  background-position: center;
  background-attachment: scroll;
  background-size: cover;
}

#data {
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 90%), url("../assets/img/CTchest-bg.jpg");
  background-position: center;
  background-repeat: repeat;
  background-attachment: scroll;
  background-size: cover;
}

.bs-linebreak {
  height: 30px;
}

header.mastheadData {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 4.5rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 90%), url("../assets/img/CTchest-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
header.mastheadData h1 {
  font-size: 2.25rem;
}
@media (min-width: 992px) {
  header.mastheadData {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
  header.mastheadData p {
    font-size: 1.15rem;
  }
  header.mastheadData h1 {
    font-size: 3rem;
  }
}
@media (min-width: 1200px) {
  header.mastheadData h1 {
    font-size: 3.5rem;
  }
}
