  {% include 'header.html' %}
  <body id="page-top" onload="checkJump()">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg navbar-light fixed-top py-3"
      id="mainNav"
    >
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"
          >COVID19 Detector</a
        >
        <button
          class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#try">Try now</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#data"
                >Training data</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#repo">GitHub Repo</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
      <div class="container h-100">
        <div
          class="row h-100 align-items-center justify-content-center text-center"
        >
          <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold">
              Detect the risk of having COVID-19
            </h1>
            <h4 class="text-white font-weight-bold">
              using Chest CT Scan Images
            </h4>
            <hr class="divider my-4" />
          </div>
          <div class="col-lg-8 align-self-baseline">
            <p class="text-white-75 font-weight-light mb-5">
            Testings are essential to detect and containerize COVID-19 pandemic.
            However, the need for testing is excessive and the equipment is in shortage around the world.
            Understand the situation, we provide a solution for this rising issue.
            <br>
            <br>
            COVID-19 detector tentatively predicts the probability of an infected patient based on Chest CT scan images 
            (Computed Tomography scan technology is a popular service at most hospitals).
            We aim to use this project to detect people with high potential of having COVID-19. 
            Thus, health care providers can approach, test, and deliver supports to these patients faster.
            The detector has a high precision rate at 91% and gives prediction in only seconds.
          </p>
            <a class="btn btn-primary btn-xl js-scroll-trigger" href="#try"
              >Try now</a
            >
          </div>
        </div>
      </div>
    </header>

    <!-- About-->
    <section class="page-section" id="try">
      <div class="container">
        <div class="col">
       

          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="text-black mt-0">Input an image URL or upload an image</h2>
              <hr class="divider dark my-4" />
            </div>
          </div>

          <div class="row justify-content-center">
            {% if provided_img %}
            <img id="preview" src="{{provided_img}}" style="width: 70%; height: auto;"/>
            {% else %}
            <img id="preview" style="width: 70%; height: auto;" src="./static/assets/img/noImgHolder.png" />
            {% endif %}
          </div>
          <div class="row">
            <div class="col-md-12 bs-linebreak"></div>
          </div>

          <!-- Flash messages-->
          {% with messages = get_flashed_messages(with_categories=true) %} 
          {% if messages %} 
          <div class="row justify-content-center">
          {% for category, message in messages %}
          <div
            class="alert alert-{{ category }} alert-dismissible fade show"
            role="alert"
          >
            <span> {{ message }} </span>
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %} {% endif %} </div>{% endwith %}

          {% if claimer %}
          <div class="row justify-content-center">
            <div class="alert alert-{{alert}}" role="alert">
              <h4 class="alert-heading">{{claimer}}</h4>
            </div>
          </div>
          <div class="row justify-content-center">
            <p class="form-text text-muted" style="font-size:x-small;">* The result might not be accurate because of the image quality</p>
          </div>
          {% endif %}
          <div class="row">
            <div class="col-md-12 bs-linebreak"></div>
          </div>

          <div class="row justify-content-center">
            <form action="/index" method="POST" enctype="multipart/form-data">
              <input
                type="url"
                class="form-control"
                name="img-url"
                placeholder="Input an image URL"
              />
              <center>or</center>
              <div class="custom-file">
                <input
                  type="file"
                  class="custom-file-input"
                  name="image"
                  id="image"
                  oninput="filesize(this)"
                />
                <label class="custom-file-label" for="image"
                  >Upload image</label
                >
              </div>
              <p id="submitReq" class="form-text text-muted" style="font-size:x-small;">
                File formats accepted: jpg, jpeg, png, bmp <br />
                File size should not exceed: 4mb</p>
              <div class="row">
                <div class="col-md-12 bs-linebreak"></div>
              </div>
              <center>
                <button type="submit" class="btn btn-primary" id="submit-btn">
                  Submit
                </button>
              </center>
            </form>
          </div>

        </div>
      </div>
    </section>

    <!--Data we used-->
    <section class="page-section" id="data">
      <div class="container">
        <div class="col">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="text-white mt-0">About our data</h2>
              <hr class="divider light my-4" />
              <p class="text-white mb-4">
                The training data consists of chest CT scan images of 329 positive COVID-19 patients
                and 387 negative cases. With this data set, we were able to train an AI model that
                capable of labelling tags with high performance (the precision rate at 91%, recall rate at 85.6%).
              </p>
            </div>
          </div>
          <div class="row justify-content-center">
            <form action="/presentdata">
              <button type="submit" class="btn btn-primary">
                View details
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact-->
    <section class="page-section" id="repo">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 text-center">
            <h2 class="mt-0">Notice</h2>
            <hr class="divider my-4" />
            <p class="text-muted mb-5">This is an unofficial tool that is not authorized to be used in any practical context.</p>
          </div>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-primary" onclick="openGitHub()">GitHub Repository</button>
        </div>
      </div>
    </section>

    {%include 'footer.html'%}

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <!-- Core theme JS-->
    <script src="./static/js/scripts.js"></script>
    <script>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          document.getElementById("try").scrollIntoView();
        {% endif %} {% endwith %}

      function checkJump() {
        if ("{{isReturn}}" == "true") {
          document.getElementById("try").scrollIntoView();
        }
      }

      function filesize(elem) {
        document.cookie = `filesize=${elem.files[0].size}`;
      }

      function readURL(input) {
        if (input.files && input.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#preview").attr("src", e.target.result);
          };
          reader.readAsDataURL(input.files[0]);
        }
      }

      $("#image").on("change", function () {
        var fileName = $(this).val().replace(/\\/g, "/").replace(/.*\//, "");
        $(this).next(".custom-file-label").html(fileName);
        readURL(this);
      });

      function openGitHub() {
        window.open(
           'https://github.com/DukeNgn/COVID19-detector-by-CT-scan',
            '_blank' 
        );
      }
    </script>
  </body>
</html>
